#query-box {
    position: relative;
    width: 32vw;
    height: 3.7vw;
    padding-left: 1.2vw;
    border: solid .25vw #cecfd1;
    border-radius: .5vw;
    background-color: #fefefe;
    margin: 2vw auto;
    font-size: 2.3vw;
    color: #a5a5a5;
    left: -2vw;
}
#none-found-wrapper{
    text-align: center;
    font-size: 24px;
}
#query-box:focus {
    border-color: #7aaaca;
    color: #7aaaca;
}

#search-table th, #search-table td {
    font-family: "Calibri", sans-serif;
    font-size: 1.7vw;
    color: #959595;
    padding: 0 10px;
}