#titlewrapperp{
    display: table;
    text-align: center;
    width: 100vw;
}

#titlemyden{
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 44px;
    z-index: 500;
}

#submission{
    background-color: blue;
    width: 100%;
    height: 4vw;
    position: relative;
    border: none;
    border-radius: .5vw;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3vw;
    color: #a5a5a5;
}

#attendancewrapper {
    width: 59.1vw;
    margin: 0 auto;
    padding: 2px;
}