#titlewrapperp{
    display: table;
    text-align: center;
    width: 100vw;
}

#titlemyden{
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 4vw;
    z-index: 500;
}

#submission{
    width: 59.1vw;
    height: 4vw;
    position: relative;
    border: none;
    border-radius: 0 0 1vw 1vw;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3vw;
    color: #a5a5a5;
    bottom: 0;
    margin-top: 25px;
}

#submission:hover {
    background-color: #e2e2e2;
}

#attendancewrapper {
    width: 59.1vw;
    margin: 0 auto;
    //height: 30vw;
}
#table-wrap{
    min-height: 10vw;
}
#search-table {
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}