#titlewrapperp{
    display: table;
    text-align: center;
    width: 100vw;
}

#titlemyden{
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 4vw;
    z-index: 500;
}

#teacherstitlez{
    width: 36vw;
    height: 7vw;
    margin-top: 1vw;
}

#submission{
    width: 59.1vw;
    height: 4vw;
    position: relative;
    border: none;
    border-radius: 0 0 1vw 1vw;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3vw;
    color: #a5a5a5;
    bottom: 0;
    margin-top: 0;
}

#submission:hover {
    background-color: #e2e2e2;
}

#attendancewrapper {
    width: 59.1vw;
    margin: 0 auto;
    //height: 30vw;
}

#table-wrap{
    min-height: 10vw;
}

#search-table {
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}

#search-table th, #search-table td {
    font-family: "Calibri", sans-serif;
    font-size: 1.7vw;
    color: #959595;
    padding: 0 10px;
}

#colorcode-wrapper{
    width: inherit;
    height: 30px;
    text-align:center;
}

#swatch-spacing{
    width: 1vw;
    display: inline-block;
}

#classcountwrapper{
    text-align: right;
    padding-right:3vw;
}

#classcounttile{
    font-family: "Calibri", sans-serif;
    font-size: 1.4vw;
    color: #a5a5a5;
    display:inline-block;
}

#classcount {
    font-family: "Calibri", sans-serif;
    font-size: 1.4vw;
    color: #a5a5a5;
    display:inline-block;
    text-indent: 5px;
}

.colorswatch{
    height: 1vw;
    width: 1vw;
    border-radius: .2vw;
    display: inline-block;
}

.swatch-title{
    font-family: "Calibri", sans-serif;
    font-size: 1.4vw;
    color: #a5a5a5;
    display:inline-block;
    text-indent: 4px;
}

.new-color {
    background-color: lightgreen;
}

.default-color {
    background-color: lightgrey;
}

.moved-color {
    background-color: lightpink;
}
