html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#b0d6f0, #dde8f0);
    //background-color: black;
}

/*#titlez {
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    //color: gold;
    font-weight: bold;
}*/

#popup-window {
    width: 40vw;
    height: 30vw;
    border-radius: 3vw;

    background-color: #245269;

    padding: 2vw;
    text-align: center;

}

#addCheck{
}

#teacherstitlez{
    width: 36vw;
    height: 7vw;
    margin-top: 1vw;
}

#datamanagertitlez{
    width: 36vw;
    height: 7vw;
    margin-top: 1vw;
}

.button {
    text-align: center;
    font-weight: bold;
}

input, .button:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    color: #7aaaca;
}

input:focus {
    border-color: #7aaaca !important;
    color: #7aaaca !important;
}

.button:hover{
    color: #7aaaca;
    border-color: #7aaaca;

}

.button:hover{
    cursor: pointer;
}

.shadow {
    box-shadow: 0px 0px .9vw #7aaaca;
}

/* Header */
#headerwrapper {
    height: 5.8vw;
}

#titlez {
    position: relative;
    font-size: 5.7vw;
    padding-left: 2vw;
    top: -1vw;
    float: left;
    vertical-align: text-top;
}

a {
    text-decoration: none;
    font-family: "Calibri", sans-serif;
    color: #959595;
}

.headerbox {

    float: right;
    background-color: #f0f1f3;
    -webkit-border-radius: 0 0 0 1vw;
    border-radius: 0 0 0 1vw;
    width: 59.1%;
    height: 5.8vw;
    top: -8px;
}

#navcontainer {
    min-width: 40%;
    list-style-type: none;
    height: 100%;
    padding-top: 1.5vw;
    top: 2vw;
    font-size: 1vw;
    overflow: hidden;
    white-space: nowrap;
}
#welcome-user{
    font-size: .7vw;
    text-wrap: normal;
    width: 12vw;
    line-height: 1.8vw;
}


#main_div {
    background-color: #f0f1f3;
    -webkit-border-radius: 1vw;
    border-radius: 1vw;
    width: 59.1vw;
    height: auto;
    margin: 0 auto;

}

#navcontainer li {
    display: inline-block;
    font-size: 2vw;
    padding-right: 2vw;
    vertical-align: middle;
}

#navcontainer li a{
    font-size: 1.8vw;
}

a:hover {
    text-decoration: none;
    color: #7aaaca;
    //color: gold;
}

/* CheckBox */
input[type=checkbox] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
}

.checkbox label:hover:after {
    opacity: 0.3;
}

.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.glyphicon-log-out {
    float: right;
    left: -2vw;
}

.none-found-wrapper{
    text-align: center;
    font-size: 24px;

}

#error-handle{
    margin-top: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Boxes */
#mainbox {
    position: relative;
    background-color: #f0f1f3;
    -webkit-border-radius: 1vw;
    border-radius: 1vw;
    width: 59.1vw;
    min-height: 15vw;
    margin: 0 auto;
    padding-top: 20px;
    z-index: 2;
}

.queuebox-list{
    list-style: none;
}
.queuebox-list>li{
    font-size: 16px;
    font-weight: bold;
    margin: 4px;
}