html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#b0d6f0, #dde8f0);
    //background-color: black;
}

#titlez {
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    //color: gold;
    font-weight: bold;
}

.button {
    text-align: center;
    font-weight: bold;
}

input, .button:focus {
    outline: none;
}

input::-webkit-input-placeholder{
    //color: black;
}

input:focus::-webkit-input-placeholder {
    color: #7aaaca;
    //color: gold;
}

input:focus {
    border-color: #7aaaca !important;
    //border-color: gold !important;
    color: #7aaaca !important;
    //color: gold !important;
}

.button:hover{
    color: #7aaaca;
    //color: gold;
    border-color: #7aaaca;
    //border-color: gold;

}

.button:hover{
    cursor: pointer;
}

.shadow {
    box-shadow: 0px 0px .9vw #7aaaca;
}

/* CheckBox */
input[type=checkbox] {
    visibility: hidden;
}

.checkbox {
    width: 26px;
    height: 26px;
    background: rgba(165, 165, 165, 1.0);
    border-radius: 6px;
}

.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3.1px;
    top: 3.2px;
    background: rgb(223,223,223);
    border-radius: 3px;
}

.checkbox label:after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 15px;
    height: 8px;
    background: transparent;
    top: 5px;
    left: 2px;
    border: 3px solid rgba(165, 165, 165, 1.0);
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover:after {
    opacity: 0.3;
}

.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}