#titlewrapperp{
    display: table;
    text-align: center;
    width: 100vw;
}
#data-manager-label{
    font-size: 20px;
}

#titlemyden{
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 4vw;
    z-index: 500;
}

#submission{
    width: 59.1vw;
    height: 4vw;
    position: relative;
    border: none;
    border-radius: 0 0 1vw 1vw;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3vw;
    color: #a5a5a5;
    bottom: 0;
    margin-top: 0;
}

#submission:hover {
    background-color: #e2e2e2;
}

#conflictwrapper{
    width: 59.1vw;
    margin: 0 auto;
    
}
#data-manager-label{
    font-size: 16px;
}
#table-wrap{
    min-height: 10vw;
}

#conflict-table {
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}

#table-content{
    padding-bottom: 10px;   
}

#conflict-table th, #conflict-table td{
    vertical-align: center;
    font-family: "Calibri", sans-serif;
    text-align: left;
    font-size: 1.7vw;
    color: #959595;
    padding: 0 10px;
}
#conflict-table-body{
    font-family: "Calibri", sans-serif;
}
.accept-decline-pair{
    font-size: 25px;
    
}
.accept{

    color:  #57C794;
}
.accept:hover{
    
    transition: transform .5s ease-out;
    transform: rotate(360deg);
}

.decline{
    color: #FF966F;
}
.decline:hover{
    transition: transform .5s ease-out;
    transform: rotate(360deg);
}