#titlemycal{
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 35px;
    z-index: 500;
    height: 6vw;
}

#datepicker{
    display: table-cell;
    background: blue;
    text-align: center;
    vertical-align: middle;
    width: 20vw;
    height: 3.7vw;
    //background-color: #f0f1f3;
    background-color: #fefefe;
    border: solid .25vw #cecfd1;
    -webkit-border-radius: .5vw;
    border-radius: .5vw;
    margin: 0 auto;
    font-family: "Calibri", sans-serif;
    font-size: 2.3vw;
    color: #a5a5a5;
}

#datepickerbutton {
    display: table-cell;
    background: blue;
    text-align: center;
    vertical-align: middle;
    width: 10vw;
    height: 4vw;
    background-color: #f0f1f3;
    -webkit-border-radius: .5vw;
    border-radius: .5vw;
    margin: 0 auto;
    font-family: "Calibri", sans-serif;
}

#titlewrapperp{
    display: table;
    text-align: center;
    width: 100vw;
}

#errordisplay {
    position: relative;
    top:-20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    color:  #FF9696;
    background-color: #96FFFF;
}

