#datepicker {
    display: table-cell;
    background: blue;
    text-align: center;
    vertical-align: middle;
    width: 30vw;
    height: 3vw;
    background-color: #f0f1f3;
    -webkit-border-radius: .5vw;
    border-radius: .5vw;
    margin: 0 auto;
    font-family: "Calibri", sans-serif;
}

#titlemyden{
	 font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 44px;
    z-index: 500;
}

#titlewrapperp{
    display: table;
    text-align: center;
    width: 100vw;
}