#title{
    font-family: "Calibri",  sans-serif;
    color: #87a8c6;
    font-weight: bold;
}

.hidden{
    display: none;
}
#actionbutton{
    z-index: 2;
    position: fixed;
    top: 25vh;
}

#actionLabelWrapper{

    width: 40vw;
    margin: 0 auto;
    position: fixed;
    top: 25vh;
    left: 50vw;
    margin-left: -20vw;
    z-index: 100;

}

#cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left:0;

    z-index: 50;
}

.alright{
    float: right;
    margin-right: auto;
}

#tablewrapper{
    padding-top: 1.5%;
}