#titlemyden{
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 4vw;
    z-index: 500;
}

#titlewrapperp{
    display: table;
    text-align: center;
    width: 100vw;
}

#addstudentwrapper{
    width: 59.1vw;
    margin: 0 auto;
}

#mainbox {
    padding: 1vw;
}

#submitmenu{
    text-align: center;
}

#fieldtitle{
    font-family: "Calibri", sans-serif;
    font-size: 2vw;
    padding-left: 2vw;
}