#titlemycal {
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 10vw;
    z-index: 500;
    height: 6vw;
}

#datepicker {
    display: table-cell;
    background: blue;
    text-align: center;
    vertical-align: middle;
    width: 20vw;
    height: 3.7vw;
/ / background-color : #f0f1f3;
    background-color: #fefefe;
    border: solid .25vw #cecfd1;
    -webkit-border-radius: .5vw;
    border-radius: .5vw;
    margin: 0 auto;
    font-family: "Calibri", sans-serif;
    font-size: 2.3vw;
    color: #a5a5a5;
}

#titlewrapperp {
    display: table;
    text-align: center;
    width: 100vw;
}

#errordisplay {
    position: relative;
    top: -20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    color: #FF9696;
    background-color: #96FFFF;
    font-weight: bold;
}

#changebox {
    height: 300px;
    width: 500px;
    z-index: 50;
    position: absolute;
    top: 300px;
    left: 30vw;
    background-color: #96FFFF;
    border-radius: .5vw;
    padding: 10px;
}

#savebutton {
    clear: both;
    float: right;
}

#numberstudents {
    width: 30px;
}

#actionLabelWrapper {

    width: 40vw;
    margin: 0 auto;
    position: fixed;
    top: 25vh;
    left: 50vw;
    margin-left: -20vw;
    z-index: 100;

}

#cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;

    z-index: 50;
}

/*Search Bar*/

#query-box {
    position: relative;
    width: 32vw;
    height: 3.7vw;
    padding-left: 1.2vw;
    /*  border: solid .25vw #cecfd1;*/
    border: solid .25vw #7aaaca;
    border-radius: .5vw;
    background-color: #fefefe;
    font-size: 2.3vw;
    color: #7aaaca;
    left: -2vw;
}

#searchwrapper {
    margin: 2vw auto;
    width: 50vw;
    border-radius: .5vw;
    border: solid .2vw #7aaaca;
}

#search-table {
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}

#table-wrap {
    padding-bottom: 25px;
}

#search-table th, #search-table td {
    font-family: "Calibri", sans-serif;
    font-size: 1.7vw;
    color: #959595;
    padding: 0 10px;
}

#select-model {
    position: absolute;
    border: none;
    border-radius: .5vw;
    background-color: #7aaaca;
    font-size: 2.5vw;
    font-family: "Calibri", sans-serif;
    width: 12vw;
    height: 3.7vw;
    left: 25vw;
    color: #ffffff;
    z-index: 0;
    padding-left: 2vw;
}

#select-model:focus {
    outline: none;
}

#datepickerbutton {
    position: absolute;
    border: none;
    background-color: #7aaaca;
    font-size: 2.5vw;
    font-family: "Calibri", sans-serif;
    width: 12vw;
    height: 3.7vw;
    left: 63vw;
    color: #ffffff;
    border-radius: .5vw;
    padding-left: 3vw;
}

#datepickerbutton:focus {
    color: #ffffff !important;
    outline: none;
}

input::-webkit-input-placeholder {
/ / color : black;
    color: #7aaaca !important;
}
